@model IEnumerable<taskjo.Models.Project>
@foreach (var item in Model)
{
    <li class="item">
        <div class="product-info">
            <a href="/UserDashboard/ShowPhase/@item.projectId" class="product-title">
                @item.projectName
                @if (@item.projectSate == "1")
                {
                    <span class="badge badge-success float-left">انجام شده</span>
                }
                else if (@item.projectSate == "2")
                {
                    <span class="badge badge-warning float-left">در حال انجام</span>
                }
                else
                {
                    <span class="badge badge-danger float-left">لغو شده </span>
                }

            </a>
            <span class="product-description">
                @item.projectDesc
            </span>
        </div>
    </li>

}
